@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body {
  background-color: #D0EFFF;
  color: #555B6E;
  padding:0;
  margin:0;
  font-family: 'Onest', sans-serif;
}

.flex {
  display: flex;
}
button:focus {
  outline: none;
}



