<div id="title-text"><p>Regatta Manager</p></div>
<div class="home-text">
  <div class="main-text">
  <p>RegattaManager - Your Ultimate Solution for Managing
    and Publishing Sailing Regatta Results</p>
  </div>
  <br>
  <div class="secondary-text">
    <p>
      RegattaManager is a versatile and user-friendly application
      designed to streamline the management and publication of sailing
      regatta results for sailing enthusiasts, race organizers, and yacht clubs.
      Whether you're hosting a small local race or a large-scale international
      regatta, RegattaManager empowers you to efficiently handle every aspect of
      your event.
    </p>
    <br>
  </div>
  <div class="third-text">
    <p>
      RegattaManager simplifies the race management process by offering comprehensive tools to create, edit, and schedule races. Organizers can set up various race formats, including fleet racing, match racing, and team racing, with ease.

      Allow participants to register online, reducing paperwork and saving time. Track competitor details, such as boat type, crew members, and contact information, all in one place.

      Manage race starts effortlessly with built-in countdown timers, sound signals, and the ability to adjust starting sequences based on changing conditions.

      Keep spectators and participants engaged with live race tracking. Share real-time updates on boat positions, weather conditions, and leaderboards for an enhanced regatta experience.

      RegattaManager automates the complex task of calculating race results, taking into account factors like handicaps, race formats, and penalties. Instantly generate provisional and final results.
    </p>
    <button class="basic-button" color="accent" [routerLink]="'/regatta'">
      See competitions
    </button>

  </div>
</div>
